/*this is really the "EXPERIENCE" section id*/
#about h2 {
    margin-bottom: 10%
}

header {
    background-image: url("images/ehud-neuhaus-191867.jpg");
}

.col-md-4 #t  {
    background-color: black;
   
    padding: 1px 15px;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
}

#team h2 {
    margin-bottom: 8%
}