@model CampusSnapshots.ViewModels.PostIndexViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="post-content">
        @foreach (var post in Model.Posts)
        {
            <div class="post-image-container">
                <div class="post-image" style="background-image: url(@post.Url)"></div>
            </div>
        }
    </div>
</div>