.post-content {
    padding: 24px;
}

.post-image {
    height: 280px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.post-image-container {
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 12px;
    position: relative;
    box-shadow: 0 10px 18px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.2);
}

.postContent {
    color: black;
}

.postDate {
    color: dimgray;
}

.postUsername {
    color: dimgray;
}

/* User Profiles */
.userProfile {
    padding: 32px 0 64px 24px;
    background-color: #fff;
}

#userProfileImage {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #ddd;
}

#userEmailLabel, #userBioLabel, #userCreatedLabel, #userRating, #userActiveLabel {
    display: block;
    color: #444;
    padding-top: 3px;
}

#userName {
    display: block;
    color: #2569d5;
    font-size: 1.7em;
}

.userProfilePic {
    height: 50px;
    width: 50px;
    background-size: 100%;
}

.userProfilePicForComments {
    height: 30px;
    width: 30px;
    background-size: 100%;
}